
<div class="modal-header">
    <button type="button" class="close"  ng-click="cancel()">&times;</button>
<h3 class="modal-title">Message</h3>
</div>
<div class="modal-body bg-white">
<span><i class="ti-calendar ti-calendar-drag"></i></span>&nbsp;&nbsp;Adjust extra time duration ?
<br>
<!-- <div style="float:right">
    <div class="checkbox clip-check check-primary checkbox-inline">
        <input type="checkbox" id="is_email"  ng-model="appointment.is_email">
        <label for="is_email">
            Email
        </label>
    </div>
    <div class="checkbox clip-check check-primary checkbox-inline">
        <input type="checkbox" id="checkbox11" value="1">
        <label for="checkbox11">
            SMS
        </label>
    </div>
</div> -->
<br>
</div>
<div class="modal-footer">
<button type="submit" class="btn btn-success" ng-click="ok()">OK</button>
<button class="btn btn-danger" ng-click="cancel()">Cancel</button>

</div>
