<script>
$("#ui-datepicker-div").hide();
</script>
<div class="container-fluid bg-white ng-scope" ng-controller="managementCtrl">
        <div class="row margin-top-5">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div ng-if="userdata.role_id == 1">
                    <div class="col-sm-3">
                        <div class="panel panel-lightblue no-radius text-center">
                            <div class="panel-body">
                                <a href="#!/app/pages/customers" >
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-address-card-o fa-stack-1x fa-inverse"></i> </span>
                                    <h5 class="StepTitle">Customers</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-lightblue no-radius text-center">
                            <div class="panel-body">
                                <a href="#!/app/pages/services" >
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-cogs fa-stack-1x fa-inverse"></i> </span>
                                    <h5 class="StepTitle">Services</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-lightblue no-radius text-center">
                            <div class="panel-body">
                                <a href="#!/app/pages/products" >
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa  fa-list-alt fa-stack-1x fa-inverse"></i> </span>
                                    <h5 class="StepTitle">Products</h5>
                                </a>
                            </div>
                        </div>
                    </div>
               
                    <div class="col-sm-3">
                        <div class="panel panel-lightblue no-radius text-center">
                            <div class="panel-body">
                                <a href="#!/app/pages/management/service_provider" >
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i> </span>
                                    <h5 class="StepTitle">Staff</h5>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="panel panel-lightblue no-radius text-center">
                            <div class="panel-body">
                                <a href="#!/app/pages/used_coupons" >
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-tag fa-stack-1x fa-inverse"></i> </span>
                                    <h5 class="StepTitle">Membership</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-lightblue no-radius text-center">
                            <div class="panel-body">
                                <a href="#!/app/pages/smpt_details" >
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span>
                                    <h5 class="StepTitle">SMTP <br> details</h5>
                                </a>
                            </div> 
                        </div>
                    </div>
                    
                    
                </div>
                <div class="col-sm-3" ng-if="userdata.role_id == 1">
                    <div class="panel panel-lightblue no-radius text-center">
                        <div class="panel-body">
                            <a href="#!/app/pages/company_setting" >
                                <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-building-o fa-stack-1x fa-inverse"></i> </span>
                                <h5 class="StepTitle">Company Setting</h5>
                            </a>
                        </div> 
                    </div>
                </div>
                <div ng-if="userdata.role_id == 1">    
                    <div class="col-sm-3">
                        <div class="panel panel-lightblue no-radius text-center">
                            <div class="panel-body">
                                <a href="#!/app/pages/email_template" >
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-at fa-stack-1x fa-inverse"></i> </span>
                                    <h5 class="StepTitle">Email Notifications</h5>
                                </a>
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-lightblue no-radius text-center">
                            <div class="panel-body">
                                <a href="#!/app/pages/sms_template" >
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-comments-o  fa-stack-1x fa-inverse"></i> </span>
                                    <h5 class="StepTitle">SMS Notifications</h5>
                                </a>
                            </div> 
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
