<!-- start: FORGOT -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<div ng-class="{'app-navbar-fixed': app.layout.isNavbarFixed == false}"></div>
<div class="row"  ng-controller="resetpasswordCtrl">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="logo">
            <img ng-src="{{app.layout.logo}}" alt="{{app.name}}"/>
        </div>
        <!-- start: FORGOT BOX -->
        <div class="box-forgot" id="LinkExpired" ng-if="display_div">
            <form class="form-forgot">
                
                <fieldset>
                    <legend>
                        Link Expired
                    </legend>
                    
                <div class="form-group">
                    <label class="text-red">
                        The link you followed has expired
                    </label>
                    
                </div>
                <div class="form-group">
                    <label class="text-red">
                        <a href="#!/login/forgot">Forget Password ?</a>
                    </label>
                </div>
                </fieldset>
            </form>
            <!-- start: COPYRIGHT -->
            <div class="copyright">
                2019 © Salon CRM
            </div>
            <!-- end: COPYRIGHT -->
        </div>

       

        <div class="box-forgot" ng-if="!display_div">
            <form class="form-forgot" id="resetPassword">
                
                <fieldset>
                    <legend>
                        Reset Password
                    </legend>
                    
                <div class="form-group">
                    <label for="password">
                        New password
                    </label>
                    <input type="password" class="form-control" id="password" placeholder="Enter New Password" required="" ng-model="reset.new_password">
                </div>
                <div class="form-group">
                    <label for="conf_password">
                        Confirm password
                    </label>
                    <input type="password" class="form-control" id="conf_password" placeholder="Enter confirm Password" required="" name="conf_password" ng-model="reset.conf_password">
                </div>
                <label id="reset-error"  ng-if=' reset.conf_password && reset.conf_password!=reset.new_password' class="error" for="password">Password doesn't match!</label>
                    
                <div class="form-actions">
                    

                    <button type="submit"  ng-click="resetPassword('resetPassword')" class="btn btn-primary pull-right">
                     Submit <i class="fa fa-arrow-circle-right"></i>
                    </button>
               </div>
                </fieldset>
            </form>
            <!-- start: COPYRIGHT -->
            <div class="copyright">
                2019 © Salon CRM
            </div>
            <!-- end: COPYRIGHT -->
        </div>
        <!-- end: FORGOT BOX -->
    </div>
    
 
</div>


<!-- end: FORGOT -->
