
<div class="container-fluid bg-white" ng-controller="sms_templateCtrl">
    <div class="row">

        <div class="col-md-6">
            <a href="#!/app/pages/add_sms_template" class="btn btn-wide btn-success margin-bottom-10" ><i class="fa fa-plus-square"></i> Add </a>

            
            <table class="table table-bordered" datatable="" dt-options="dtOptionInvoiceRequest"
                    dt-columns="dtColumnInvoiceRequest" dt-instance="dtIntanceInvoiceRequestCallback"
                    dt-column-defs="dtColumnInvoiceRequestDefs" cellspacing="0" width="100%"></table>
            
          
        </div>
    </div>
</div>


