<div class="modal-header">
    <button type="button" title="Close" class="close" ng-click="cancel($event)">&times;</button>
    <h3 class="modal-title"> <i class="fa fa-th-large"></i> Select treatment</h3>
</div>

<div class="modal-body">
    <div class="container-fluid bg-white modal-vh-100">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">

                    <span class="input-icon input-icon-right">
                        <input type="text" class="form-control" id="name" name="search" placeholder="Search"
                            ng-model="search.search_service" ng-keyup="onKeyUp()" required />
                        <i class=" ti-search"></i> </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive" ng-hide="main_table">
                    <table class="table table-pointer  services_cat">
                        <thead>
                            <tr>
                                <th class="col-md-2"><span class="text-large"><i
                                            class="fa fa-folder-open-o padding-right-10"></i>
                                        Description</span></th>
                                <th class="col-md-1 text-right"><span class="text-large">BTW</span></th>
                                <th class="col-md-1 text-right"><span class="text-large">Sale</span></th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr class="backgroundColor" ng-repeat-start="service_category in all_service_cat">
                                <th colspan="3" ng-click="category1($index)"><span class="text-size-14"
                                        ng-style="{color:service_category.color}"><i
                                            class="fa fa-folder-open-o padding-right-10"></i>
                                        {{service_category.name}}</span></th>

                            </tr>
                            <tr id="row_{{$index}}" ng-hide="hide_show_{{$index}}" ng-repeat-end>
                                <td colspan="3">

                                    <!-- <table class="table table-borderless all_services">
                                        <tr
                                            ng-repeat="service in all_services | filter : {category_id: service_category.id}:true">
                                            <td class="col-md-2" style="padding-left: 3%;"><a
                                                    ng-click="add_Service_inForm(service)"><span
                                                        class="text-azure"><u>{{service.name}}</u></span></a>
                                            </td>
                                            <td class="col-md-1 text-right p-r-1">{{service.service_tax.tax_value}}%
                                            </td>
                                            <td class="col-md-1 text-right p-r-1"><i
                                                    class="fa fa-inr"></i>{{service.sales_price}}</td>

                                        </tr>

                                    </table> -->
                                </td>
                            </tr>

                            <tr class="text-center text-extra-large" ng-show="service_categories.length==0">
                                <td colspan="5"><strong class="text-red">No data found !!</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive" ng-hide="search_service_table">
                    <table class="table table-pointer services">
                        <thead>
                            <tr>
                                <th class="col-md-2"><span class="text-large"><i
                                            class="fa fa-folder-open-o padding-right-10"></i>
                                        Description</span></th>

                                <th class="col-md-1 text-right"><span class="text-large">BTW</span></th>
                                <th class="col-md-1 text-right"><span class="text-large">Sale</span></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="service in searched_services | filter : {category_id: service_category.id}">
                                <td class="col-md-2"><a ng-click="add_Service_inForm(service)"><span
                                            class="text-azure"><u>{{service.name}}</u></span></a></td>
                                <td class="col-md-1 text-right p-r-1">{{service.service_tax.tax_value}}%</td>
                                <td class="col-md-1 text-right p-r-1"><i class="fa fa-inr"></i>{{service.sales_price}}
                                </td>

                            </tr>
                            <tr class="text-center text-extra-large" ng-show="!searched_services.length">
                                <td colspan="5"><strong class="text-red">No data found !!</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">


    <!-- <button type="button" class="btn btn-wide btn-success">Next One</button> -->

</div>
