<style>
    .dataTables_filter,
    .dataTables_paginate {
        float: right;
    }
    .pagination_width{
        width: 50% !important;
    }
    
</style>
<div ng-controller="customerArchiveCtrl">
    <div class="container-fluid  bg-white" >   
        <div class="row margin-left-5"> 
            <span class="text-size-22"><i class="fa fa-trash-o"></i> <strong>Archive</strong> </span>
        
            <a type="button" href="#!/app/pages/customers" class="btn btn-wide btn-o btn-default"><i class="fa fa-remove"></i> Close</a>
            <!-- <button type="button" class="btn btn-wide btn-o btn-default"><i class="ti-book"></i> To merge</button> -->
            <button type="button" class="btn btn-wide btn-o btn-default " ng-click="moveArchiveToNormal()" ><i class="fa fa-mail-reply"></i> Remove from archive</button>
        
            <button type="button" class="btn btn-wide btn-o btn-danger margin-right-5" ng-click="moveArchiveToTrash()"><i class="fa fa-trash-o"></i> Delete</button>
            <button type="button" ng-click="refreshCustomerArchive()" class="btn btn-o btn-default "><i class="fa fa-refresh"></i></button>
        </div>

        <div class="row margin-top-5">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-class">
                    <table id="customerArchiveDatatable" class="table table-bordered" datatable="" dt-options="dtOptionInvoiceRequest_main"
                    dt-columns="dtColumnInvoiceRequest_main" dt-instance="dtIntanceInvoiceRequestCallback_main"
                    dt-column-defs="dtColumnInvoiceRequestDefs_main" cellspacing="0" width="100%"></table>
                </div>
            </div> 
        </div>
    </div>
</div>
